<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-4">
                <h3>Date : {{date | date }}</h3>
            </div>
            <div class="col-md-4">
                <mat-form-field class="example-full-width">
                    <mat-label>Change Date</mat-label>
                    <input matInput [(ngModel)]="cdate" [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

            </div>
            <button mat-raised-button color="primary" (click)="changeDate()">Change</button>



        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Point Commiton</h4>
                    </div>
                    <div class="card-body">
                        <div *ngFor="let p of poinArray">
                            <p>{{p.udata}} : {{p.amount | currency:'LKR'}}</p>
                        </div>

                        <div class="card-footer">
                            <h4>
                                Total : {{pointTot | currency:'LKR'}}
                            </h4>

                            <button *ngIf="pointComRady" mat-raised-button color="primary" (click)="ExportTOExcel('Point Commition')">Point Commition Export as Excel</button>

                        </div>

                    </div>
                </div>

            </div>
        </div>

        <br><br>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Introducer Commition</h4>
                    </div>
                    <div class="card-body">
                        <div *ngFor="let i of introArray">
                            <p>{{i.udata}} : {{i.amount | currency:'LKR'}}</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h4>
                            Total : {{inroTot | currency:'LKR'}}
                        </h4>

                        <button *ngIf="introComRady" mat-raised-button color="primary" (click)="ExportTOExcelIntro('Intro Commition')">Intro Export as Excel</button>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>