<div class="main-content">
    <div class="container-fluid">

        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title"><strong>Online Payment</strong></h4>
                <p class="card-category">Enter Your Credit Card Details And Pay</p>
            </div>
            <div class="card-body">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Name On Card">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Card Number">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Expiration">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Expiration">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Security Code">
                </mat-form-field>
            </div>
        </div>
    </div>
</div>