<div class="main-content">
    <div class="container-fluid">

        <div>
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title"><strong>Bank Process </strong></h4>
                    <p class="card-category">Please Complete One By One</p>
                </div>
                <div class="card-body">
                    <div class="col-md-12" style="text-align: center;">
                        <mat-radio-group aria-label="" [(ngModel)]="ptype" (change)="statusChange()">
                            <mat-radio-button value="1">Approval pending&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
                            <mat-radio-button value="0" [checked]="true">Pending &nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
                            <mat-radio-button value="2">Completed&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
                            <mat-radio-button value="3">Rejected&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="card" *ngFor="let ref of refList">
                        <div class="card-body">
                            <h4>SR : {{ref.ref}} -- Bank Ref : {{ref.bankRef}}</h4>
                            <h4>NAME : {{ref.namewith}} </h4>
                            <h4>Introducer : {{ref.iSWno}} </h4>
                            <h4>User SW : {{ref.userId}} </h4>
                            <h4>Mobile : {{ref.mobile}} </h4>
                            <h4>Price : {{ref.price}} </h4>

                            <div class="col-md-12" *ngIf="ptype==1">                              
                                <img src="https://smartwinent.com/recipt/{{ref.imagePath}}">
                            </div>
                            <button *ngIf="ptype==1" mat-raised-button (click)="runProcess(ref.id)" class="btn btn-success pull-right">Run Process</button>
                            <button *ngIf="ptype==1" mat-raised-button (click)="reject(ref.id)" class="btn btn-warning pull-right">Reject</button>

                        </div>
                    </div>

                </div>
            </div>
        </div>





    </div>
</div>