<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div *ngFor="let p of products" class="col-md-4 col-sm-6">
        <div class="card" *ngIf="user.uid != 1 && p.prodStatus == 1">
          <img
            class="card-img-top"
            src="{{ p.prodImage }}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">
              <b>{{ p.prodName }}</b>
            </h5>
            <h5 class="card-title"><small>LKR.</small> {{ p.prodPrice }}.00</h5>
            <!-- <p class="card-text"><small>LKR.</small> {{p.prodPrice}}</p> -->
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            <hr />
            <button
              mat-raised-button
              (click)="more(p.idProd)"
              class="btn btn-primary"
            >
              More Info
            </button>
          </div>
        </div>

        <div class="card" *ngIf="user.uid == 1">
          <img
            class="card-img-top"
            src="{{ p.prodImage }}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">
              <b>{{ p.prodName }}</b>
            </h5>
            <h5 class="card-title"><small>LKR.</small> {{ p.prodPrice }}.00</h5>
            <!-- <p class="card-text"><small>LKR.</small> {{p.prodPrice}}</p> -->
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            <hr />
            <button
              mat-raised-button
              (click)="more(p.idProd)"
              class="btn btn-primary"
            >
              More Info
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
