<div class="main-content">
    <div class="container-fluid">
        <div class="row">





            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Payment Histry</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <h3 style="color: green;">Total Paid : <strong>{{sum | currency:'LKR':'Rs.' }}</strong> </h3>
                        <h3 style="color: red;">Deve Amount : <strong>{{dev | currency:'LKR':'Rs.'}}</strong> </h3>

                        <div *ngFor="let paid of list">
                            <h4>
                                Invoice ID : {{paid.idInvoice}} <br>
                                Date : {{paid.date | date: 'yyyy-MM-dd'}} <br>
                                Amount : {{paid. totalValue | currency: 'LKR: Rs.'}}<br><br>
                            </h4>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/profile.png" />
                        </a>
                    </div>
                    <div class="card-body" *ngIf="userData">
                        <!-- <h6 class="card-category text-gray">CEO / Co-Founder</h6> -->
                        <h4 class="card-title">{{userData[0].value}}</h4>

                        <h5>{{userData[2].value}}</h5>
                        <h5>{{userData[3].value}}</h5>
                        <h5>{{userData[4].value}}</h5>
                        <h5>{{userData[5].value}}</h5>
                        <h5>{{userData[12].value}}</h5>
                        <h5>{{userData[13].value}}</h5>

                        <p class="card-description">

                        </p>
                        <!-- <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a> -->
                        <button class="btn btn-primary btn-round btn-block" (click)="getNext()">Get Next
                            Payment</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4" *ngIf="next">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">New Invoice</h4>
                        <p class="card-category">Invoice Data</p>
                    </div>
                    <br><br>
                    <mat-form-field class="col-md-12">
                        <input matInput type="number" id="uname" [(ngModel)]="amount" placeholder="Amount Rs." />
                    </mat-form-field>
                    <br>
                    <div class="card-body">
                        <button class="btn btn-primary btn-round btn-block" (click)="payNow()">Pay Now</button>
                    </div>

                </div>
            </div>


        </div>






    </div>
</div>