<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Filter</h4>
                    </div>
                    <div class="card-body">

                        <div class="row">

                        </div>

                        <br>
                        <div class="row">
                            <div class="col-md-2">
                                <mat-form-field>
                                    <mat-label>From</mat-label>
                                    <input matInput [(ngModel)]="from" [matDatepicker]="picker1">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-md-2">
                                <mat-form-field>
                                    <mat-label>To</mat-label>
                                    <input matInput [(ngModel)]="to" [matDatepicker]="picker2">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div>


                            <div class="col-md-2">
                                <button (click)="filter()" mat-raised-button type="submit"
                                    class="btn btn-success pull-right">Filter By Date Range</button>
                            </div>

                            <div class="col-md-2">
                                <mat-form-field>
                                    <mat-label>Select Pin</mat-label>
                                    <mat-select [(ngModel)]="selectedPin" (ngModelChange)="getIncomeByPin()">
                                        <mat-option [value]="0">
                                            No
                                        </mat-option>
                                        <mat-option *ngFor="let pin of treeData" [value]="pin.swTreeId">
                                            {{pin.swTreeId}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <!--
                                 <div class="col-md-2">
                                <mat-form-field>
                                    <input matInput type="number" [(ngModel)]="member" placeholder="Member SW">
                                </mat-form-field>
                            </div> -->

                            <div class="col-md-2">
                                <button (click)="loadMember()" mat-raised-button type="submit"
                                    class="btn btn-warning pull-right">Load Member Pins</button>
                            </div>




                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6" *ngIf="selectedPin>0">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Point Commiton - Total : {{pointTot | currency:'LKR '}}</h4>
                    </div>
                    <div class="card-body">
                        <div *ngFor="let p of pinIncome">
                            <p>{{p.DateTime | date: 'yyyy-MM-dd'}} : {{p.val | currency:'LKR '}}</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h4>
                            Total : {{pointTot | currency:'LKR '}}
                        </h4>
                    </div>
                </div>
            </div>



            <div class="col-md-6" *ngIf="!selectedPin || selectedPin==0">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Point Commiton - Total : {{pointTot | currency:'LKR '}}</h4>
                    </div>
                    <div class="card-body">
                        <div *ngFor="let p of poinArray">
                            <p>{{p.dateTime | date: 'yyyy-MM-dd'}} : {{p.amount | currency:'LKR '}}</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h4>
                            Total : {{pointTot | currency:'LKR '}}
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Introducer Commition - Total : {{inroTot | currency:'LKR '}}</h4>
                    </div>
                    <div class="card-body">
                        <div *ngFor="let i of introArray">
                            <p>{{i.dateTime | date: 'yyyy-MM-dd'}} : {{i.amount | currency:'LKR '}}</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h4>
                            Total : {{inroTot | currency:'LKR '}}
                        </h4>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>